@charset "utf-8";
html{
}
body{
}
/* header */
header{
    background:#3C4767;
}

/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #6C6C6C;
}

#menu{
    width: 50%;
}
/* アコーディオンメニュー */
.check{
    display: none;
}

.label{
    background: blanchedalmond;
    color: black;
    display: block;
    margin-bottom: 1px;
    padding: 10px;
}

.content{
    border: 1px solid #333;
    height: 0;
    opacity: 0;
    padding: 0 10px;
    transition: .5s;
    visibility: hidden;
    background: white;
}

.check:checked+.label+.content{
    height: 40px;
    opacity: 1;
    padding: 10px;
    visibility: visible;
}